body {
    background-color: rgb(245, 206, 174);
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: rgb(77, 73, 74);
}

h1 {
    font-weight: bold;
}

ul {
    width: 400px;
    margin: 20px auto 0 auto;
    padding: 0;
}

main li {
    list-style: none;
    background-color: rgb(196, 45, 80);
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid rgb(196, 45, 80);
    box-shadow: 2px 2px 4px 0.5px;
}

a {
    text-decoration: none;
    color: rgb(240, 197, 207);
    padding: 10px;
}

main {
    margin: auto;
    padding: 10px;
}

img {
    width: 650px;
    height: auto;
    border-radius: 2px;
}

/* unique to secondary pages */

.ingredients, li {
    list-style:circle;
}
